@font-face {
  font-family: "iconfont"; /* Project id 4244954 */
  src: url('iconfont.woff2?t=1694400329259') format('woff2'),
       url('iconfont.woff?t=1694400329259') format('woff'),
       url('iconfont.ttf?t=1694400329259') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caboli:before {
  content: "\e668";
}

.icon-weishengjian:before {
  content: "\e603";
}

.icon-diban:before {
  content: "\e610";
}

.icon-hunzhuang:before {
  content: "\e639";
}

.icon-baojie:before {
  content: "\e62e";
}

.icon-chufang:before {
  content: "\e6b1";
}

.icon-richangjiadiandiannao-copy:before {
  content: "\e690";
}

.icon-richangjiadianbingxiang:before {
  content: "\e691";
}

.icon-richangjiadianxiyiji:before {
  content: "\e69c";
}

.icon-reshuiqi_:before {
  content: "\e620";
}

.icon-ditan:before {
  content: "\e60f";
}

.icon-youyanji:before {
  content: "\e619";
}

.icon-btnhome:before {
  content: "\e7d9";
}

.icon-kongtiaoguankong:before {
  content: "\e7ab";
}

.icon-qingkong:before {
  content: "\e60c";
}

.icon-xiaoxi:before {
  content: "\ec3b";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-wode:before {
  content: "\e62f";
}

.icon-fenlei:before {
  content: "\e630";
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-sousuo:before {
  content: "\e651";
}

